html {
  height: 100%;
  backdrop-filter: blur(4px);
}

body {
  background-image: url('../images/hiking_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  margin: 0 auto;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3em;
  color: whitesmoke;
  filter: drop-shadow(4px 4px 2px #000000);
  font-family: "Cambria", "serif";
}