header {
  background-image: url('../images/hiking_banner1.jpg');
}

#plannerTable {
  display: none;
  border: none;
  margin: 0 auto;
  margin-top: 2em;
}

form {
  display: block;
  text-align: center;
  align-items: center;
  border: black 1px solid;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 2em;
  background-color: rgb(223, 223, 223);
}

h3 {
  background-color: #3f4e22;
  color: white;
  margin-top: 0;
  padding: 0.5em;
  border-bottom: black 1px solid;
}

#search_row {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

select {
  padding: 0.25em;
  max-width: 25%;
}